@use './variants/colors' as *;

body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $zinc-600;
}

li {
    max-width: 50%;
}

.site-links {
    padding: 2rem 1rem;
    justify-content: space-between;
    gap: 0;

    a {
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
        color: $zinc-600;
    }
    
}

main {
    padding: 0 1rem;
}

nav {
    max-width: 960px;
    margin: auto;
}

// HOME

.item-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

.item-card-info {
    max-width: 300px;
}

.admin {
    display: flex;
    justify-content: flex-end;

    a {
        padding: .5rem 1rem;
        color: #fff;
        background-color: $rose-300;
        border: 1px solid $rose-300;
        display: block;
        width: fit-content;

        &:hover {
            background-color: #fff;
            color: $rose-300;
            text-decoration: none;
        }
    }
}

.item-card {
    box-shadow: 0 2px 8px $zinc-200;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px 0 8px 8px;
    position: relative;

    img {
        border-radius:  8px 0 0 0;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1;
        text-transform: uppercase;
        color: $rose-400;
        letter-spacing: 1px;
    }

    button {
        border-radius: 99px;
        padding: .5rem .75rem;
        line-height: 1;
        color: #fff;
        background-color: $rose-400;
        box-shadow: none;
        outline: none;
        position: absolute;
        right: 1rem;
        bottom: 1.25rem;
    }
}

.item-text {
    padding: 0 1rem;
}

.info {
    line-height: 1;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 .5rem;
    align-items: center;
}

.height {
    text-transform: lowercase;
    margin-bottom: 3rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: flex-start;

    span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 960px) {
    body {
        font-size: 1.5rem;
    }

    .site-links {
        align-items: end;

        a {
            font-size: 1.75rem;
        }
    }

    .item-display {
        padding: 0;
    }
}